html,
body,
.app{
    height: 100vh;
    background: #eee;
    padding: 1em;
}

/* Message Form*/
.messages {
    height: 440px;
    overflow-y: scroll;
}


/* Message Js*/
.message__form {
    position:fixed ;
    bottom : 1em;
    margin-left: 320 px !important;
    left: 0;
    right: 1em;
    z-index: 200;
}

.message__self {
    border-left : 2px solid green;
    padding-left: 8px;
}

.hidePopup {
    display: none !important;
    margin-left: 5555555555555px;
}